.revenue {
    text-align: right;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 2px solid #007bff;
}

.text-center {
    margin-bottom: 20px;
}   