.image-container {
    position: relative;
}

.image-container img {
    display: block;
    max-width: 100%;
}

.image-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    /* Adjust opacity as needed */
    padding: 20px;
    box-sizing: border-box;
}

